.new-playlist-btn {
    background: #1db954;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 130px;
    font-size: 11px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
  }